:host {
    width: auto;
    display: flex;
    flex-direction: row;
}

.container {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
}
.email {
    font-size: 18px;
    color: #66aaf1;
}