* {
    box-sizing: border-box;
}
.container {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-dark);
    color: var(--primary-lighter);
    padding: 20px 15px;
    margin: 0px;
    text-align: center;    
}
.description {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .container {
        position: fixed;
    }
}