nav {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--primary-light);
}
a, a:visited, a:active {        
    margin: 0px;
    padding: 10px 15px;
    margin-left: 2px;
    margin-right: 2px;
    width: auto;
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: bold;
    color: var(--secondary-dark);
}
a:hover, a.active {
    background-color: var(--primary-lighter);
}

a:first-child {        
    margin-left: -15px;
}
